*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Titillium Web', sans-serif;
}

.background{
  display: flex;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom,
  #249688 100px, rgba(221,219,210,1) 100px 40%, rgba(211,219,220,1) 100%);
}


.wrapper{
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 95vh;
}

aside{
  width: 40%;
  height: 100%;
  background-color: red;
}

main{
  width: 60%;
  height: 100%;
  background-color: blue;
}

.top{
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside .top{
  border-right: 1px solid #D7D6D7;
}
.top .user, .top .friends{
  display: flex;
}

.top .user img, .top .friends img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px 10px;
}
aside .top .user h5{
  line-height: 50px;
  font-size: 12px;
  font-weight: bold;
}

.utility i{
  color: #B1B1B2;
  padding-right: 10px;
}

.friend-description{
  padding-top: 6px;
}
.friends h5{
  font-size: 12px;
}

.friends p{
  font-size: 10px;
  color: #6B7376;
}