*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Titillium Web', sans-serif;
}

i:hover{
  cursor: pointer;
}

.background{
  display: flex;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom,
  #249688 100px, rgba(221,219,210,1) 100px 40%, rgba(211,219,220,1) 100%);
}


.wrapper{
  display: flex;
  width: 80%;
  min-width: 600px;
  margin: 0 auto;
  height: 95vh;
}

aside{
  width: 40%;
  height: 100%;
  background-color: #FAFAFA;
}

main{
  width: 60%;
  height: 100%;
  background-color: white;
}

.top{
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside .top{
  border-right: 1px solid #D7D6D7;
}
.top .user, .contact-chat, .contact, .profile{
  display: flex;
}

.top .user img, .contact-chat img, .contact .profile img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px 10px;
}
aside .top .user h5{
  line-height: 50px;
  font-size: 12px;
  font-weight: bold;
}

.utility i, .date{
  color: #B1B1B2;
  padding-right: 10px;
}

.top i:hover{
  color: #606061;
}

.friend-description{
  padding-top: 6px;
}
.name{
  font-size: 12px;
  font-weight: 400;
}

.access{
  font-size: 10px;
  color: #6B7376;
}

.notify{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #8DDBFD;
}

.notify i{ 
  height: 40px;
  margin: 10px;
  background-color: white;
  padding: 12px 10px;
  border-radius: 50%;
  color:  #8DDBFD;
  transition: all 0.5s;
}

.notify i:hover{
  background-color: #B1B1B2;
  color: white;
}

.notify-msg{
  line-height: 15px;
}
.notify-msg h5{
  font-size: 12px;
}
.notify-msg a{
  font-size: 10px;
  color: #4F7485;
}
.notify-msg a:hover{
  color: white;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
}

.search button, .search input{
  height: 30px;
  background-color: white;
  border: 1px solid #EAEAEA;
  color: #B7BBBC;
}

.search button{
  width: 20%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
  transition: all 0.3s;
}
.search button:hover{
  background-color: #EAEBEB;
  cursor: pointer;
}
.search input{
  width: 77%;
  padding-left: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
}

.contacts{
  width: 100%;
  height: calc(100% - 135px);
  background-color: white;
  border-right: 1.5px solid #EAEAEA;
  overflow: auto;

}
.contact{
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #EAEAEA;
}
.contact:hover{
  background-color: #eaeaea7c;
  cursor: pointer;
}

.contact.active{
  background-color: #EAEAEA;
}
.profile img{
  width: 45px;
  height: 45px;
}
.msg-text, .date{
  font-size: 10px;
  color: #B8BCBD;
}
.msg-text::after{
  content: "...";
}
.date{
  padding-top: 6px;
}

.main-content{
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100% - 100px);
  background-image: url("../img/mine.jpg");
  overflow: auto;
}

.msg-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  height: 80%;
}
 
.msg-container .date{
  font-size: 8px;
  text-align: end;
  padding-top: 0;
}

.message{
  width: 45%;
  font-size: 12px;
  padding: 10px 0 3px 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.msg-container .sent{
  background-color: #D6FABB;
  position: relative;
  left: 100%;
  transform: translate(-100%);
}

.msg-container .received{
  background-color: #FFFFFF;
}

.main-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #F3EEEA;
  border-left: 1.5px solid #EAEAEA;
}

.main-bottom i{
  color: #6B7276;
  padding: 20px;
}
.main-bottom input{
  border: none;
  height: 40px;
  border-radius: 5px;
  color: #6B7276;
  width: 80%;
  padding-left: 10px;
}

.d-none{
  display: none;
}

.d-block{
  display: block;
}

