<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
</head>
<body>
  
  <div id="app">

    <div class="background">
      <div class="wrapper">

        <!-- ASIDE  -->
        <aside>
          <div class="top">
            <div class="user">
              <img src="img/avatar_io.jpg" alt="">
              <h5>Nome Utente</h5>
            </div>
            <div class="utility">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <div class="notify">
            <i class="fas fa-bell-slash"></i>
            <div class="notify-msg">
              <h5>Ricevi notifiche di nuovi messaggi</h5>
              <a href="#">Attiva notifiche desktop</a>
            </div>
          </div>
          <div class="search">
            <button><i class="fas fa-search"></i></button>
            <input 
            v-model="searchChat"
            type="text" 
            placeholder="Cerca o inizia una nuova chat">
          </div>

          <div class="contacts">
            <div 
            v-for="(contact, index) in contacts" 
            :class= "{'active': contact.visible, 'd-none': searchChat != ''}"
            @click="showChat(index)"
            class="contact">
              <div class="profile">
                <img :src="contact.avatar" alt="">
                <div class="friend-description">
                  <h5 class="name">{{contact.name}}</h5>
                  <p class="msg-text">{{getLastMessage(index)}}</p>
                </div>
              </div>
              <div class="date">
                <p>{{contact.messages[0].date}}</p>
              </div>
  
            </div>

          </div>
        </aside>

        <!-- MAIN  -->
        <main>
          <div class="top">
            <div class="contact-chat">
              <img v-if="activeChat >= 0" :src="contacts[activeChat].avatar" alt="">
              <div class="friend-description">
                <h5 v-if="activeChat >= 0" class="name">{{contacts[activeChat].name}}</h5>
                <p v-if="activeChat >= 0" class="access">Ultimo accesso {{contacts[activeChat].messages[0].date}}</p>
              </div>
            </div>
            <div class="utility">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          
          <div class="main-content">
            <div 
            v-if="activeChat >= 0" 
            class="msg-container">
              <div 
              v-for="(item, index) in contacts[activeChat].messages"
              v-bind:class="item.status"
              class="message ">
                <p>{{item.message}}</p>
                <p class="date">{{item.date}}</p>
              </div>
            </div>
          </div>

          <div class="main-bottom">
            <i class="far fa-smile"></i>
            <input 
            v-model="textInput"
            @keyup.enter="insertNewMessage"
            type="text" 
            placeholder="Scrivi un messaggio">
            <i class="fas fa-microphone"></i>
          </div>
        </main>
      </div>
    </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>
</html>